@import "src/assets/style/variables.sass";
.form {
  :global{
    .ant-btn{
      height: 40px;
    }
    .ant-btn-primary{
      background: $primaryLight6;
    }
    .ant-btn-link {
      color: $primaryLight6;
    }
    .ant-checkbox-checked .ant-checkbox-inner{
      background: $primaryLight6;
      border-color: $primaryLight6;
    }
    .ant-input-group-addon{
      color: #262626;
    }
    .ant-checkbox-wrapper{
      font-weight: 500;
      display: flex;
      width: 100%;
    }
    .ant-row-no-wrap {
      margin-bottom: 24px;
    }
  }
}
