$primaryLight1: #f0f5ff,
$primaryLight2: #d6e4ff,
$primaryLight3: #adc6ff,
$primaryLight4: #85a5ff,
$primaryLight5: #597ef7,
$primaryLight6: #2f54eb,
$primaryLight7: #1d39c4,
$primaryLight8: #10239e,
$primaryLight9: #061178,
$primaryLight10: #030852,

$white: #fff,
$starColor:#FAAD14,

$tablet-width: 834px,
$mobile-width: 576px,
