@import "src/assets/style/variables";

.container {
  padding: 24px 0 0 ;

  :global {
    .ant-input-number-group-wrapper {
      width: 90px;
    }
    .ant-input-number-group-wrapper:first-child {
      width: 120px;
      margin-right: 16px;
    }
  }

  .inputTitle, .input{
    display: flex;
    margin: 8px 0;
    justify-content: space-between;

    .text{
      font-size: 12px;
      padding: 4px 8px;
      width: 90px;
      height: 24px;
      background: #F0F0F0FF;
      &:first-child {
        width: 120px;
        margin-right: 16px;
      }
      &:nth-child(2){
        margin-right: 16px;
        @media (max-width: $mobile-width) {
          margin-right: 45px;
        }
      }
    }

     .plus{
      color: #BFBFBFFF;
      padding: 0 4px;
      width: 16px;
    }
  }
}