@import "src/assets/style/variables";
.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: $gap-9xl;
  margin-bottom: $gap-8xl;
  flex-grow: 0;
}

.logo.collapsed {
  margin-left: 0;
}

.logo__menu .ant-menu-item-icon {
  display: inline-block;
  order: -1;
}
.logo__menu .ant-menu-title-content {
  display: inline-block;
  order: 1;
}

.collapsed {
  width: 64px;
}

.hidden,
.mobile {
  display: none;
}

@media screen and (max-width: $tablet-width) {
  .logo__text,
  .logo__icon {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media screen and (max-width: $mobile-width) {
  .logo {
    padding-top: 1.3rem;
    margin-left: 0;
    margin-bottom: 2.8rem;
  }
}