@import "../../assets/style/variables";
.container {
  max-width: 1440px;
  min-height: 100vh;

  margin-left: auto;
  margin-right: auto;

  background: url('@public/main_page_light.jpeg') no-repeat center;
  background-size: cover;

  @media (max-width: 992px) {
    height: 1194px;
  }
  @media (max-width: 576px) {
    height: auto;
  }

  .sider {
    background: $white;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 9;

    @media (max-width: 576px) {
      position: fixed;

      :global {
        .ant-menu-item:not(:last-child) {
          margin-bottom: 8px;
        }

        .ant-menu-item {
          padding: 0;

          .ant-menu-title-content {
            margin-left: 8px;
          }

          .anticon {
            display: none;
          }
        }

        button .anticon {
          display: none;
        }
      }
    }
  }
  .breadcrums{
    background: #F0F5FF;
    padding: 16px 24px;
  }
}