@import "src/assets/style/variables";
.comment {
  margin-bottom: 20px;
  width: 100%;
  background:$white;
  :global{
    .ant-comment-inner{
      min-height: 128px;
      padding: 16px;
    }
    .ant-comment-avatar {
      width: 175px;
      text-align: center;
    }
    .ant-rate {
      margin-right: 16px;
      font-size: 16px;
    }

    .ant-rate-star-full .anticon svg path:last-child,
    .ant-rate-star-full .anticon svg path:first-child,
    .ant-rate-star-zero .anticon svg path:last-child {
      fill: $starColor;
    }
    .ant-rate-star-zero .anticon svg path:first-child {
      fill: transparent;
    }

    @media (max-width: $mobile-width) {
      .ant-comment-inner{
        height: auto;
        flex-direction: column;
      }
      .ant-comment-avatar {
        display: flex;
        margin-bottom: 12px;
        p{
          margin: 0 0 0 16px;
          text-align: left;
        }
      }
      .ant-comment-content-author{
        margin-bottom: 12px;
      }
    }
  }

  .author {
    max-width: 85px;
    margin: 0 auto;
  }
}