.menu {
  :global {
    @media (max-width: 576px) {
      .ant-menu-item-icon {
        display: none;
        text-align: center;
      }

      .ant-menu-vertical .ant-menu-item {
        padding: 0;
      }

      .anticon .ant-menu-item-icon {
        display: none;
      }

      .ant-menu-vertical .ant-menu-item:not(:last-child) {
        margin-bottom: 10px;
      }

    }
  }
}