@import "/src/pages/main-page/main-page.css";
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    backdrop-filter: blur(12px);
    background: rgba(121, 156, 213, 0.1);
}








