@import "src/assets/style/variables";

.header {
  background: #F0F5FF;
  height: auto;
  line-height: 1;

  display: grid;
  grid-template-columns: minmax(min-content, 1190px) 1fr;
  row-gap: 15px;
  padding: 0 24px 24px 24px;
  overflow: hidden;
  @media (max-width: 576px) {
    row-gap: 10px;
  }
}

.title {
  font-size: 38px;
  font-weight: 700;
  line-height: 110%;
  grid-column: 1/ 2;
  margin: 0;
  @media (max-width: 992px) {
    font-size: 24px;
    font-weight: 500;
  }
  @media (max-width: 576px) {
    font-size: 20px;
    font-weight: 500;
  }
}