@media (max-width: 992px) {
    .anticon.anticon-setting {
        display: none;
    }
}

@media (max-width: 576px) {
    .anticon.anticon-setting {
        display: block;
    }

}

.ant-breadcrumb {
    color: black;
}