@import "src/assets/style/variables";

.header {
  background: $primaryLight1;
  height: auto;
  line-height: 1;

  display: flex;
  justify-content: space-between;
  padding: 0 24px 24px 24px;
  overflow: hidden;
  @media (max-width: $mobile-width) {
    row-gap: 10px;
  }
  .title {
    font:$font-xl ;
    grid-column: 1/ 2;
    margin: 0;
    @media (max-width: $tablet-width) {
      font: $font-xl-tablet;
    }
    @media (max-width: $mobile-width) {
      font:$font-l;
    }
  }

  .settings {
    margin-left: auto;
  }
}

